@model Calendar.Data.Models.Month

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Month</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AptsMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AptsMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.random)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.random)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
